-- igress.question_type definition

CREATE TABLE `question_type` (
  `type_id` int NOT NULL AUTO_INCREMENT,
  `type_name` text,
  `description` text,
  PRIMARY KEY (`type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.roles definition

CREATE TABLE `roles` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(255) NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.users definition

CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `roll_no` varchar(20) NOT NULL,
  `user_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `block_reason` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `roll_no` (`roll_no`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.classrooms definition

CREATE TABLE `classrooms` (
  `classroom_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text,
  `created_by` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`classroom_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `classrooms_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.tests definition

CREATE TABLE `tests` (
  `test_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `duration_in_minutes` int DEFAULT NULL,
  `created_by` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`test_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `tests_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.user_blocks definition

CREATE TABLE `user_blocks` (
  `block_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `block_reason` text,
  `blocked_by` int DEFAULT NULL,
  `unblocked_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `unblocked_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`block_id`),
  KEY `user_id` (`user_id`),
  KEY `blocked_by` (`blocked_by`),
  KEY `unblocked_by` (`unblocked_by`),
  CONSTRAINT `user_blocks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_blocks_ibfk_2` FOREIGN KEY (`blocked_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_blocks_ibfk_3` FOREIGN KEY (`unblocked_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.user_roles definition

CREATE TABLE `user_roles` (
  `user_id` int NOT NULL,
  `role_id` int NOT NULL,
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `user_roles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_roles_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.classroom_staff definition

CREATE TABLE `classroom_staff` (
  `classroom_id` int NOT NULL,
  `staff_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`classroom_id`,`staff_id`),
  KEY `staff_id` (`staff_id`),
  CONSTRAINT `classroom_staff_ibfk_1` FOREIGN KEY (`classroom_id`) REFERENCES `classrooms` (`classroom_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `classroom_staff_ibfk_2` FOREIGN KEY (`staff_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.classroom_student definition

CREATE TABLE `classroom_student` (
  `classroom_id` int NOT NULL,
  `student_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`classroom_id`,`student_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `classroom_student_ibfk_1` FOREIGN KEY (`classroom_id`) REFERENCES `classrooms` (`classroom_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `classroom_student_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.classroom_tests definition

CREATE TABLE `classroom_tests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `classroom_id` int NOT NULL,
  `test_id` int NOT NULL,
  `scheduled_at` timestamp NOT NULL,
  `created_by` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `classroom_tests_ibfk_1` (`classroom_id`),
  KEY `classroom_tests_ibfk_2` (`test_id`),
  KEY `classroom_tests_ibfk_3` (`created_by`),
  CONSTRAINT `classroom_tests_ibfk_1` FOREIGN KEY (`classroom_id`) REFERENCES `classrooms` (`classroom_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `classroom_tests_ibfk_2` FOREIGN KEY (`test_id`) REFERENCES `tests` (`test_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `classroom_tests_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.questions definition

CREATE TABLE `questions` (
  `question_id` int NOT NULL AUTO_INCREMENT,
  `test_id` int DEFAULT NULL,
  `question_type` int DEFAULT NULL,
  `question_title` text,
  `question` text,
  `marks` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`question_id`),
  KEY `question_type` (`question_type`),
  KEY `test_id` (`test_id`),
  CONSTRAINT `questions_ibfk_1` FOREIGN KEY (`question_type`) REFERENCES `question_type` (`type_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `questions_ibfk_2` FOREIGN KEY (`test_id`) REFERENCES `tests` (`test_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.submitted_status definition

CREATE TABLE `submitted_status` (
  `status_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `classroom_test_id` int DEFAULT NULL,
  PRIMARY KEY (`status_id`),
  KEY `user_id` (`user_id`),
  KEY `classroom_test_id` (`classroom_test_id`),
  CONSTRAINT `submitted_status_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `submitted_status_ibfk_2` FOREIGN KEY (`classroom_test_id`) REFERENCES `classroom_tests` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.test_supervisors definition

CREATE TABLE `test_supervisors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `classroom_test_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `supervisor_id` (`supervisor_id`),
  KEY `test_supervisors_ibfk_1` (`classroom_test_id`),
  CONSTRAINT `test_supervisors_ibfk_1` FOREIGN KEY (`classroom_test_id`) REFERENCES `classroom_tests` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `test_supervisors_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.attendence_tab definition

CREATE TABLE `attendence_tab` (
  `classroom_test_id` int NOT NULL,
  `student_id` int NOT NULL,
  `tab_switch` int DEFAULT '0',
  PRIMARY KEY (`classroom_test_id`,`student_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `attendence_tab_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `attendence_tab_ibfk_2` FOREIGN KEY (`classroom_test_id`) REFERENCES `classroom_tests` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.code_questions definition

CREATE TABLE `code_questions` (
  `code_question_id` int NOT NULL AUTO_INCREMENT,
  `question_id` int DEFAULT NULL,
  `solution_code` text,
  `allowed_languages` json DEFAULT NULL,
  `public_test_case` json DEFAULT NULL,
  `private_test_case` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`code_question_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `code_questions_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.code_submissions definition

CREATE TABLE `code_submissions` (
  `submission_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `question_id` int DEFAULT NULL,
  `language` text,
  `source_code` text,
  `j_tokens` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `classroom_test_id` int DEFAULT NULL,
  `marks_awarded` int DEFAULT '0',
  PRIMARY KEY (`submission_id`),
  KEY `student_id` (`student_id`),
  KEY `question_id` (`question_id`),
  KEY `classroom_test_id` (`classroom_test_id`),
  CONSTRAINT `code_submissions_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `code_submissions_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `code_submissions_ibfk_3` FOREIGN KEY (`classroom_test_id`) REFERENCES `classroom_tests` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.mcq_questions definition

CREATE TABLE `mcq_questions` (
  `mcq_question_id` int NOT NULL AUTO_INCREMENT,
  `question_id` int DEFAULT NULL,
  `multiple_correct` tinyint(1) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`mcq_question_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `mcq_questions_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.code_submission_result definition

CREATE TABLE `code_submission_result` (
  `submission_result_id` int NOT NULL AUTO_INCREMENT,
  `submission_id` int DEFAULT NULL,
  `status` text,
  `time` text,
  `memory` text,
  `j_token` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`submission_result_id`),
  KEY `submission_id` (`submission_id`),
  CONSTRAINT `code_submission_result_ibfk_1` FOREIGN KEY (`submission_id`) REFERENCES `code_submissions` (`submission_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.mcq_options definition

CREATE TABLE `mcq_options` (
  `mcq_option_id` int NOT NULL AUTO_INCREMENT,
  `mcq_question_id` int DEFAULT NULL,
  `option_text` text,
  `is_correct` tinyint(1) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`mcq_option_id`),
  KEY `mcq_question_id` (`mcq_question_id`),
  CONSTRAINT `mcq_options_ibfk_1` FOREIGN KEY (`mcq_question_id`) REFERENCES `mcq_questions` (`mcq_question_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- igress.mcq_submissions definition

CREATE TABLE `mcq_submissions` (
  `submission_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `mcq_question_id` int DEFAULT NULL,
  `mcq_option_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `classroom_test_id` int DEFAULT NULL,
  `marks_awarded` int DEFAULT '0',
  PRIMARY KEY (`submission_id`),
  KEY `student_id` (`student_id`),
  KEY `mcq_question_id` (`mcq_question_id`),
  KEY `mcq_option_id` (`mcq_option_id`),
  KEY `classroom_test_id` (`classroom_test_id`),
  CONSTRAINT `mcq_submissions_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `mcq_submissions_ibfk_2` FOREIGN KEY (`mcq_question_id`) REFERENCES `mcq_questions` (`mcq_question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `mcq_submissions_ibfk_3` FOREIGN KEY (`mcq_option_id`) REFERENCES `mcq_options` (`mcq_option_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `mcq_submissions_ibfk_4` FOREIGN KEY (`classroom_test_id`) REFERENCES `classroom_tests` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

INSERT INTO roles (role_name) VALUES ('admin'), ('staff'), ('supervisor'),('student');

INSERT INTO question_type (type_name) VALUES ('code'), ('mcq');
